*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #606e59;
}
.calculator{
    border: 2px solid #333;
    border-radius: 10px ;
    padding: 20px;
    width: 300px;
    background-color: white;
}
#display{
    height: 50px;
    width: 100%;
    text-align: right;
    font-size: 24px;
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #333;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button{
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color:rgb(255, 238, 6);
    color: rgb(20, 19, 19);
    border-radius: 50px;
    transition: all 0.2s linear;

}
button:hover{
    background-color: #908702;
}